*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, p{
    font-family: 'IBM Plex Mono', monospace;
}

.btn-logo img{
    height: 36px;
}

.btn-ham{
    display: none;
}

.nav-menu ul{
    list-style: none;
    display: flex;

    li a{
        text-decoration: none;
    }
}


//Breakpoint para Mobile-Tablet
@media (max-width: 768px){
    
}